#title{
    text-align: center;
    padding: 25px;
    border: 2px solid black;
    font-size: 150%rem;
}
#title p{
    font-size: 30px;
}
nav{
    text-align: right;
}
ul{
    padding-top: 50px;
    margin-left: 25px;
}
li{
    padding-top: 50px;
    padding-bottom: 50px;
}
.col-sm-2{
    background-color:grey;
}
#text{
    font-family: 'Amita', cursive ; 
}
p{
    font-family: 'Lora', serif;
}
header row {
    padding-top: 15px;
}
