#title{
    text-align: center;
    padding: 25px;
    border: 2px solid black;
    font-size: 150%rem;
    height: auto;
}
#title p{
    font-size: 30px;
}
nav{
    text-align: right;
}
ul{
    padding-top: 50px;
    margin-left: 15px;
}
li{
    padding-top: 50px;
    padding-bottom: 50px;
}
.col-sm-2{
    background-color:grey;
}
h1 {
    font-family: 'Amita', cursive ; 
}
h3{
    font-family: 'Amita', cursive ;
}
p{
    font-family: 'Lora', serif;
}
header row {
    padding-top: 15px;
}
.col{
    background-color: grey;
}
#size{
    margin-left: 175px;
    height: 3em;
}
#occasion{
    margin-left: 150px;
    height: 5em;
}
#budget{
    margin-left: 175px;
    height: 5em;
}